.labinfo {
  display: grid;
  margin-top: 5vh;
  padding: 20px;
  grid-gap: 16px;
  /* background-color: yellow; */
}

@media screen and (min-width: 750px) {
  .labinfo {
    grid-template-columns: 0.3fr 1fr;
  }


  .info--section {
    border-right: 1px solid rgb(142, 144, 142);
  }
}


.info--section {
  padding: 20px;
  margin: 0 auto;

}

.info--userimage {
  width: 220px;
  border-radius: 20px;
}

.info--username {
  text-align: center;
}

.info--usertype {
  text-align: center;
}

.info--enrollment {
  background: rgb(236, 235, 235);
  width: fit-content;
  padding: 20px 80px 20px 20px;
  border-radius: 20px;
}

.info--enrollment>div>h1 {
  font-size: 1.1rem;
  font-weight: 500;
}

.info--enrollment>div>p {
  margin: 5px 0;
}

.report--section {
  padding: 40px;
  margin: 0 auto;
}

.report--title {
  font-size: 1.7rem;
  font-weight: 600;
}

.report--readings {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.report--selection {
  width: 100px;
  margin-left: 50px;
}

.report--type {
  font-size: 1.2rem;
  margin-top: 20px;
}

.readings {
  padding: 2px 5px 2px 1px;
  border: 1px solid rgb(186, 185, 185);
  text-align: center;
  border-radius: 20px;
}

.report--firstReading {
  width: 90px;
  padding-bottom: 2px;
}

.report--readingUnit {

  border-radius: 20px 0 0 20px;
  padding: 2px 5px 7px 1px;
  border: 1px solid rgb(186, 185, 185);
  text-align: center;
  background: rgb(238, 237, 237);
  width: 90px;
}

.report--readingCriteria {
  border-radius: 0 20px 20px 0;
  padding: 2px 5px 7px 1px;
  border: 1px solid rgb(186, 185, 185);
  text-align: center;
}

.report--tableCaption {
  text-align: start;
  font-size: 1.3rem;
  font-weight: 500;
}

table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

input, select {
  color: rgb(139, 138, 138);
}

.report--buttons {
  width: 50vw;
  display: flex;
  justify-content: flex-end;
}

.button {
  border-radius: 20px;
  width: 120px;
  padding: 2px 15px;
  margin: 10px;

}


.button--done {
  background: rgb(88, 88, 252);
  color: white;
}

.button--backHome {
  border: 2px solid rgb(182, 181, 181);

}